.text-effect-banner {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.img-effect-banner {
  width: 30%;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
}

.text-effect-break {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1.5px rgb(255, 255, 255);
}

.img-effect-break {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-effect-footer {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1.5px rgb(255, 255, 255);
}

.img-effect-footer {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-header {
  width: 240px;
  height: 60px;
}

.btn-banner {
  width: 308px;
  height: 76px;
}

.sub-title-banner {
  top: unset;
  left: unset;
  bottom: 0;
  right: 92px;
}

.sub-title-banner p {
  line-height: 130px;
  letter-spacing: -6px;
}

.title-service {
  line-height: 148px;
  letter-spacing: -4px;
}

.text-effect-service {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  top: 0;
  left: 0;
}

.img-effect-service {
  rotate: 100deg;
  width: 58%;
  left: 16%;
  transform: scaleX(-1);
  top: 56%;
}

.card-service {
  padding: 24px;
  border-radius: 24px;
  background-color: var(--primary-200);
  display: flex;
  align-items: center;
  gap: 32px;
}

.count {
  line-height: 160px;
  margin: 0 24px 0 0;
}

.group-service-1 {
  gap: 68px;
  display: flex;
  flex-direction: column;
}

.group-service-padding {
  padding: 0 10%;
}

.card-service-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px;
}

.wrap-content {
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
  padding: 0 48px;
}

.flex-4 {
  flex: 0 0 40%;
}

.flex-6 {
  flex: 0 0 60%;
}

.card-content {
  border-radius: 24px;
  padding: 24px 8px;
  flex: 0 0 calc(50% - 32px);
  ;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-2::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: white;
  top: 46%;
  left: -18%;
  transform: translate(0, -50%);
}

.line-2::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-color: white;
  top: 46%;
  right: -18%;
  transform: translate(0, -50%);
}

.our-service-item {
  display: flex;
  position: relative;
  gap: 24px;
  align-items: center;
}

.our-service-item .image-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-service-item .image-group img {
  width: 320px;

}

.our-service-item .image-group p {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.group-service {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  margin-bottom: 24px;
  padding-left: 24px;
}

.group-service::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  bottom: -24px;
  left: 50%;
  transform: translate(-50%, 0);
}

.group-service-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
  width: 80%;
}

.our-team-group {
  gap: 48px;
  margin-bottom: 60px;
}

.our-team img {
  width: 100%;
}

.our-team:nth-child(1) {
  position: relative;
  flex: 0 0 calc(25% - 24px);
}

.our-team:nth-child(2) {
  position: relative;
  flex: 0 0 calc(25% - 24px);
}

.our-team:nth-child(3) {
  position: relative;
  flex: 0 0 calc(50% - 48px);
}

.our-team img {
  aspect-ratio: 1/1;
}

.our-team:nth-child(3) img {
  aspect-ratio: 2/1;
  object-fit: cover;
}

.our-team .badge {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  color: black;
  padding: 4px 16px;
  border-radius: 32px;
  text-align: center;
  width: 80%;
}

.our-team:nth-child(1) .badge {
  top: unset;
  bottom: 24px;
}

.our-team:nth-child(3) .badge {
  width: unset;
  padding: 4px 40px;
}

.started-group {
  flex-direction: column;
}

.started-item {
  display: flex;
  align-items: center;
  gap: 32px;
}

.img-effect-started {
  position: absolute;
  rotate: 38deg;
  width: 100%;
  left: 0;
  transform: scaleX(-1) translate(40%, -50%);
  top: 50%;
  z-index: 2;
}

.btn-started {
  border-radius: 68px;
  height: 124px;
  width: 100%;
  margin: 24px 0;
}

.img-effect-group {
  flex: 0 0 40%;
  position: relative;
}

.card-started-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 60%;
}

.card-started {
  border-radius: 48px;
  padding: 24px;
  border: 2px solid white;
}

.line-white-vertical::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 70%;
  background-color: white;
  top: 25%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 0);
}

.card-started:nth-child(3) span,
.card-started:nth-child(5) span {
  letter-spacing: -1.5px;
}

.top.line-white-vertical::before {
  z-index: 3;
  top: 0%;
  height: 30%;
}

.footer-logo {
  display: inline-block;
}

.btn-break {
  width: 320px;
  height: 76px;
}

.linkedin-link {
  display: flex;
  gap: 12px;
}

footer.section {
  padding-bottom: 160px;
}

.mobile-s {
  display: none;
}

.image-circle {
 
}

.image-circle {
  transform: translateY(0);
  will-change: transform;
  animation: floatY 3s ease-in-out infinite alternate;
}

@keyframes floatY {
  from {
    transform: translateY(-2%);
  }
  to {
    transform: translateY(2%);
  }
}